.ant-table-thead th {
  background-color: #1890ff !important;
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 15px !important;
}

.bottom-border .ant-table {
  border-bottom: 1px solid #e8e8e8;
}

/*.ant-table tbody td {
  !*border-left: 1px solid #545454 !important;
  border-right: 1px solid #545454 !important;*!
  border-color: #545454 !important;
}

.ant-table tbody tr td:first-child {
  !*border-left: 1px solid #545454 !important;
  border-right: 1px solid #545454 !important;*!
  border-left: 1px solid #545454 !important;
}*/
